

.planta1 {

  margin: 0;
  padding: 0;

  position: absolute;

}

.titulo{
  font-family: Belleza;
  font-size: 61.267px;
  font-style: normal;
  font-weight: 400;

  margin: 0;
  padding: 0;

  width: 373px;
  height: 142px;
  position: absolute;
}

.frame2{

  position: absolute;

  background: #FFF;
  width: 482.475px;
  height: 222.092px;
  flex-shrink: 0;
}

.frame2 .p{
  color: #000;
  font-family: Aeonik;
  font-size: 12.764px;
  font-weight: 400;

  width: 154px;
  height: 32px;

  position: absolute;
}

.frame2 .p1{
  
  font-family: Aeonik;
  font-size: 22.975px; 
  font-weight: 900; 
  position: absolute;

  opacity: 0.5;}

.frame2  .p2{
  font-family: Lora;
  font-size: 22.975px;
  font-weight: 700;
  position: absolute;

  opacity: 0.5;
}
.botao {

  border-radius: 18.303px;
  background: #010101;
  display: flex; 
  width: 85.518px;
  padding: 6.864px 13.27px; 
  justify-content: center;
  align-items: center;
  gap: 9.151px; 
  

  color: #fff;
  text-align: center;
  font-family: Aeonik;
  font-size: 9.426px;
  font-weight: 500; 
  

  position: absolute;

}

.textoTipo1{

  font-family: Aeonik;
  font-size: 10.211px;
  font-weight: 250; 

  width: 162PX;
  height: 12PX;

  position: absolute;
}
.textoTipo2{

  color: #000;

  font-family: Lora;
  font-size: 22.975px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  width: 399px;
  height: 91px;

  /* width: 299px;
  height: 29px; */

  position: absolute;
}

.textoTipo3{
  font-family: Aeonik;
  font-size: 12.764px;
  font-weight: 400;
  text-transform: uppercase; 

  /* width: 77px;
  height: 15px; */
  position: absolute;
}

.iconeExtra{
  /* display: flex; */
  width: 19.15px;
  height: 19.15px;
  /* justify-content: center;
  align-items: center;
  flex-shrink: 0; */

  position: absolute;
}

.frame27 {

  background: #EDEDED; 

  width: 919px;
  height: 278.253px; 

  position: absolute;
}

.palavra1{

  color: #000;
  font-family: Aeonik;
  font-size: 12.764px;
  font-weight: 500;
  letter-spacing: 1.276px; 

  position: absolute;
}


.iconeProximo {
  position: absolute;
}

.planta2 {
  position: absolute;
}