.logo{
    width: 87.296px;
    height: 25.391px;
    flex-shrink: 0; 
    position:absolute;
}

.itemMenu {
    font-size: 10.211px;
    font-weight: 400;
    letter-spacing: -0.444px;

    margin: 0;
    padding: 0;

    position: absolute;
}


.icones{
    margin: 0;
    padding: 0;

    width: 17.033px;
    height: 17.033px;

    position: absolute;
}

.footer{

    background: #F3F3F3;
    width: 919px;
    height: 101.47px;
    position: absolute;
}

.icone1{

    width: 7.658px;
    height: 15.317px;

   position: absolute;

}

.icone2{

    width: 15.317px;
    height: 15.317px;

   position: absolute;

}


