.logo{
    width: 87.296px;
    height: 25.391px;
    flex-shrink: 0; 
    position:absolute;
}

.itemMenu {
    font-size: 10.211px;
    font-weight: 400;
    letter-spacing: -0.444px;

    margin: 0;
    padding: 0;

    position: absolute;
}


.icones{
    margin: 0;
    padding: 0;

    width: 17.033px;
    height: 17.033px;

    position: absolute;
}



